/*------------------------------------------------------*/
/* Home banner styles */

.banner-content-col {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content-row {
  height: 100%;
}

.banner-content {
  height: 75%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.banner-title {
  color: #eeeeee;
}

.home-tagline {
  font-size: 2.5em !important;

}

.banner-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.banner-buttons .md-button {
  margin-top: .5rem;
  margin-right: .5rem;
  color: #EF5552;
  border-color: #ffffff !important;
  background-color: #ffffff;
  border-radius: 5px;
  transition: .2s ease-in-out;
  /* width: 100%; */
  
}

/* .banner-buttons .md-button--primary {
  background-color: #ffffff;
  color: hsla(280deg, 37%, 48%, 1);
  border-color: #ffffff;
  color: #EF5552 !important;
} */

.banner-buttons .md-button:focus,
.banner-buttons .md-button:hover {
  background-color: #EF5552 !important;
  color: #ffffff !important;
  border-color: #EF5552 !important;
  border-radius: 10px;
}

.banner-buttons .btn-margin {
  max-width: 20px;
}

.banner-button {
  width: 100%;
  max-width: 190px;
}

.banner-button .md-button {
  width: 100%;
  max-width: 175px;
  text-align: center;
  padding: 0.25rem 0 !important;
}

.banner-img-container {
  height: 75%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.banner-img {
  height: 100%;
  max-height: 300px;
  width: auto;
}

@media (max-width: 1025px) {

  .banner-content-col .margin {
    display: none;
    width: 0;
  }

  .banner-content {
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .banner-buttons {
    flex-direction: column;
    max-width: 100%;
  }
  .banner-button {
    width: 100%;
    max-width: unset;
  }
  .banner-button .md-button {
    width: 100%;
    max-width: unset;
    text-align: center;
  }
  .banner-img-container {
    display: none;
  }
}
/* Responsive styles */

/*------------------------------------------------------*/