<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="" ></script>


<div id="{id}" class="ext-map-container"></div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {{

            var map = L.map('{id}', {{
                crs: L.CRS.Simple,
                minZoom: {minZoom},
                maxZoom: {maxZoom}
            }});

            
            // this bounds must be in the form [y,x], [y,x]
            // it will typically be, in the yaml, 
            // bounds:
            //  - [0,0]
            //  - [100,100]

            var bounds = [{bounds}];

            // this has to be the path, i.e. what was working for me was /assets/world-map-01-02.png
            var image = L.imageOverlay('{image}', bounds).addTo(map);
            map.setView( [{lat}, {long}], {defaultZoom});
        }})
</script>

